<li *ngIf="rentalItems.length>0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Kiraladıklarınız
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let rentalItem of rentalItems"><a class="dropdown-item" ><span class="badge bg-secondary">{{rentalItem.rental.rentDate}}</span>{{rentalItem.car.brandName}}<span (click)="removeFromRental(rentalItem.car)" class="badge bg-secondary">Sil</span></a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" >Kiraladıklarına Git</a></li>
    </ul>
  </li>

