<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Araba Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız.
</div>

<ul class="list-group">
  <li [class]="getAllCarDetailsClass()" routerLink = "/cars">Araç Detayları</li>
  <li (click)="setCurrentCarDetails(carDetailAndImagesDto)" 
  routerLink = "/cars/carDetailAndImagesDto/{{carDetailAndImagesDto.car}}"
  *ngFor="let car of cars" 
  [class]="getCurrentCarDetailsClass(carDetailAndImagesDto)">
  {{carDetailAndImagesDto.car}}</li>
  
</ul>

<h5 *ngIf="currentCarDetails">{{currentCarDetails.car.brandName}} seçtiniz</h5>



<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <h5 class="card-title">Arabalar</h5>
        
      </thead>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let car of cars | carFilterPipe:filterText" class="col">
          <label>Listele:</label>
          <select name = "listele">
            <option>Marka<button (click)="getCarsByBrandId(car.brandId)" type="button" class="btn btn-success">Filtrele</button></option>
            <option>Color<button (click)="getCarsByColorId(car.colorId)" type="button" class="btn btn-success">Filtrele</button></option>
          </select>
          
          <div class="card">
            <img
              [src]="getImageByCarId(car)"
              style="width: 300px; height: 200px"
              routerLink="/car-image/{{ car.id }}"
              class="img-fluid img-thumbnail"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                <li class="list-group-item list-group-item-warning">
                  Marka : {{ car.brandName }}
                </li>
              </h5>
              <p class="card-text">
                <li class="list-group-item list-group-item-primary">
                  Renk: {{ car.colorName }}
                </li>
                <li class="list-group-item list-group-item-primary">
                  Model: {{ car.modelYear }}
                </li>
                <li class="list-group-item list-group-item-primary">
                  Günlük fiyat: {{ car.dailyPrice | currency: "₺" }}
                </li>
                  <li class="list-group-item list-group-item-primary">
                    <button (click)="addToRental(car)" type ="button" class="btn btn-success">Kirala</button>
                  </li>
                </p>

              </div>
            </div>
          </div>
        </div>
      </table>
