<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka Adı</th>
            <th>Renk</th>
            <th>Araba Adı</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyat</th>
            <th>Tarif</th>
            <th>Mevcut</th>
        </tr>
    </thead>
    <tbody>
        <tr routerLink="/cars/car-detail/{{car.carId}}" *ngFor="let car of cars">
            <td>{{car.carId}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.carName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}} ₺</td>
            <td>{{car.description}}</td>
            <td>{{car.available}}</td>
        </tr>
    </tbody>
    </table>
