<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <app-rent-summary></app-rent-summary>
          <app-rental-summary></app-rental-summary>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul *ngIf="isLogin === false" class="navbar-nav ml-lg-auto">
          <div class="text-center">
            <button type="button" class="btn btn-sm btn-primary my-4" routerLink="/signin">Sign in</button>
            <button type="button" class="btn btn-sm btn-primary my-4" routerLink="/signup">Sign up</button>
          </div>
        </ul>
      </div>
      <form class="container-fluid">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </form>
      <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" (click)="login()">Giriş</button>
        <button class="btn btn-sm btn-outline-secondary" (click)="Register()">Register</button>
      </form>
    </div>
  </nav>